<h1>Lista de Tarefas<h1>

<table>
     <thead>
          <tr>
               <th>Título</th>
               <th>Atribuições</th>
               <th>Data de Vencimento</th>
               <th>Prioridade</th>
          </tr>
     </thead>
     <tbody>
          <% @tasks.each do |task| %>
          </tr>
     </thead>
     <tbody>
          <% @tasks.each do |task| %>
               <tr>
                    <td><%= task.title %></td>
                    <td><%= task.assignne %></td>
                    <td><%= task.due_date %></td>
                    <td><%= task.priority %></td>
               </tr>
          <% end %>
     </tbody>
</table>

<%= link_to "Nova Tarefa", new_task_path %>

<div class="text-right">
     <%= link_to 'Ordem padrão', tasks_path(sort: nil), class: 'btn btn-secondary'%>
     <%= link_to 'Por data de vencimento', tasks_path(sort: 'due_data'), class 'btn btn-secondary' %>
     <%= link_to 'Por Prioridade', tasks_path(sort: 'priority'), class: 'btn btn-secondary' %>
</div>

<table class='table'>
     <!-- codigo de listagem de tarefas aqui -->
</table>

<%= link_to "nova tarefa", new_task_path %>


